body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#timer {
    text-align: center;
}

#time-display {
    font-size: 3em;
}

#controls button {
    margin: 5px;
}

#task-list {
    list-style-type: none;
}
